body { 
	/*background: url(../img/pattern.png) repeat Ivory ;*/
	background: #FFFFF4 ;
}

.whole_page {
	max-width: 1300px;
	margin: auto;
}
  
[class*="span"] {
	margin-left: 0 !important;
	padding: 0px 10px;
}

.span12 {
	padding: 0 15;
}
  
.backRound {
	margin-bottom: 10px;
	border-radius: 5px 5px 5px 5px;
	border:1px #99aeb6 solid;
}

.colored {
	background-color: Lavender;
}

a i {
	color: black;
}

li.active a i {
	color: white;
}

.logo i {
	color: black;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
}

.logo:hover i {
	color: #0088CC;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    -o-transition: color .3s;
    -ms-transition: color .3s;
    transition: color .3s;
}

.center {
	text-align: center;
}

.no-style {
	background-color: transparent;
	margin-bottom: initial;
	border-radius: initial;
	border:none;
}

.affix {
    position: fixed; 
    top: 20px; 
}

.page-header {
	margin:20px;
	color:black;
	text-decoration:none;
	border-bottom: 1px solid #3399CC;
}

.page-header  a{
	color:black;
	text-decoration:none;
	font-family: 'Cantora One',Helvetica,Arial,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Cantora One',Helvetica,Arial,sans-serif;
}

.nav > li > a:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover {
	border-radius: 5px 5px 5px 5px;
}

.logo {
	width:40px;
	height:40px;
	display: inline-block;
	padding:3px;
}

.logo a {
	text-decoration: none;
}

.logo:hover {
	background-color: #EEEEEE;
}

.content {
	padding: 0px 20px 0px 40px;
}

.content > p {
	line-height:normal;
	font-size:110%;
	text-align:justify;
}

.content > h2 {
	margin-bottom:20px;
}

.mailSpan {
	background: url(../img/enveloppe.png) right top no-repeat;
}

.CVSpan {
	background: url(../img/diploma.png) right top no-repeat;
}

.page-bottom {
	border-top:1px solid #3399CC;
	display:block;
	margin-top:20px;
	padding-top:3px;
}

#profilePic {
	float:right;
	margin-left:20px;
	margin-bottom:15px;

}

.borderPic {
	border:white solid 8px;
	border-radius: 5px 5px 5px 5px;
}

.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow(0 1px 3px rgba(0,0,0,.1));
}

.table-cv td {
	vertical-align: middle;
}

.table-cv td:first-child {
	width:20%;
}

.entry { 
	text-align: right !important;
	padding-right: 10px !important;
}

dl { 
	margin-top:0px;
	margin-bottom:0px;
}

h3 {
	margin-bottom:5px;
}

h4 {
	border-bottom: 1px solid #3399CC;
	padding-bottom: 5px;	
	margin-bottom: 15px;
}

.a_no_style:hover {
	text-decoration: none
}

.h2Projects {
	display:inline;
	margin-right:10px;
}

.h2Projects ~ .badge {
	position:relative;
	bottom: 5px;
	margin: 0px 2px;
}

.badge1 {
  background-color: #d5d5d5;
}
.badge2 {
  background-color: #d6e685;
}
.badge3 {
  background-color: #9bdb6f;
}
.badge4 {
  background-color: #4ab145;
}
.badge5 {
  background-color: #237b29;
}

.highslide-gallery {
	display:inline;
	float:right;
	margin-top:10px;
}

.img-project {
	max-width: 150px;
	max-height: 150px;
}

/* Image stacks */
.stack {
	margin: 20px;
	/*width: 400px;*/
	padding: 0;
	position: relative;
	max-width: 100%;
}

.stack img {
	max-width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	outline: 1px solid transparent;
}

.stack img:last-child {
	position: relative;
}

/* Random rotation */
.stack-randomrot.active img:nth-child(3) {
	-webkit-transform: translate(15px,15px);
	transform: translate(15px,15px);
}

.stack-randomrot.active img:first-child {
	-webkit-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.stack-randomrot.active img:nth-child(2) {
	-webkit-transform: rotate(10deg);
	transform: rotate(10deg);
}

/* Rainbow yay */
[class*="rwletter-"] {
	color: #333;
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -o-transition: color 1s;
    -ms-transition: color 1s;
    transition: color 1s;
    display: inline;
}

[class*="rwletter-"]:hover  {
    -webkit-transition: color .1s;
    -moz-transition: color .1s;
    -o-transition: color .1s;
    -ms-transition: color .1s;
    transition: color .1s;
}

.rwletter-1:hover {color: #ff0000;}
.rwletter-2:hover {color: #ff4000;}
.rwletter-3:hover {color: #ff7f00;}
.rwletter-4:hover {color: #ffff00;}
.rwletter-5:hover {color: #80ff00;}
.rwletter-6:hover {color: #00ff00;}
.rwletter-7:hover {color: #00ffff;}
.rwletter-8:hover {color: #0080ff;}
.rwletter-9 {color: #0000ff;}

/* Desktop
------------------------- */
@media (min-width: 980px) {
	.leftPanel {
		width: 158px;		
	}
}

/* Tablet
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
	.leftPanel {
		width: 120px;
	}
}

/* Mobile
------------------------- */
@media (max-width: 767px) {
	.leftPanel {
		width: auto;
		position: static;
	}
}
