                           <div class="span12 ">
                              <p class="page-bottom">
                                 <small>© Jonàs Brú Monserrat 2013 | Powered by <a href="http://twitter.github.com/bootstrap/" target="_blank">Bootstrap</a> &amp; <a href="http://www.initializr.com/" target="_blank">Initializr</a></small>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- /container -->
                  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
                  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.3.min.js"><\/script>')</script>
                  <script src="js/vendor/bootstrap.min.js"></script>
                  <script src="js/main.js"></script>
                  <script>
                     var _gaq=[['_setAccount','UA-35637631-1'],['_trackPageview']];
                     (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                     g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                     s.parentNode.insertBefore(g,s)}(document,'script'));
                  </script>
               </div>
            </body>
         </html>