<div id="navbar" class="backRound colored">
	<ul class="nav nav-list sidebar-nav">
		<li class="active">
			<a href="#ZenInstants">Zen Instants</a>
		</li>
		<li class="">
			<a href="#Bubbles">Bubbles</a>
		</li>
		<li class="">
			<a href="#Kimiya">Kimiya 2D Engine</a>
		</li>
		<li class="">
			<a href="#ColonsdeCatane">Colons de Catane</a>
		</li>
		<li class="">
			<a href="#Paristaxiflow">Paris taxi flow</a>
		</li>
		<li class="">
			<a href="#Gameoflife">Game of life</a>
		</li>
		<li class="">
			<a href="#Ascension">Ascension</a>
		</li>
		<li class="">
			<a href="#NanoBlood">NanoBlood</a>
		</li>
		<li class="">
			<a href="#DeepInTheLight">DeepInTheLight</a>
		</li>
		<li class="">
			<a href="#CofityHome">Cofity Home</a>
		</li>
	</ul>
</div>